In [5]:
import numpy as np
import pandas as pd
%matplotlib inline

In [6]:
df=pd.read_excel("Travel_H.xlsx")

In [7]:
col_entries = ['Id','User', 'Stay', 'Stay Length', 'Numeric_Stay_Length', 'Location_id', 'Location', 'Feature_of_Attraction', 'Region', 'Category_Trip_Expenses', 'Trip_Expenses', 'Class','Ticket_Prices', 'Total_Expenses','Time_of_the_Year', 'Circumambience_id', 'Circumambience', 'People']
df=pd.read_excel("Travel_H.xlsx", names=col_entries, header=None, sheet_name='Metadata')
df.drop([0],inplace=True)
print(len(df.User.unique()),len(df.Location.unique()))

300 68

In [8]:
feature_list = ['Historic-Ancient','Historic-Medieval','Historic-Modern','Modern','Beach','Hills','Park','Glacial','Wildlife','Acquatic','Adventure-Land','Adventure-Water','Architecture','Nightlife','Knowledge']

#feature_list = ['Historical','Modern','Beach','Terrain']
df.head(50)

,Id,User,Stay,Stay Length,Numeric_Stay_Length,Location_id,Location,Feature_of_Attraction,Region,Category_Trip_Expenses,Trip_Expenses,Class,Ticket_Prices,Total_Expenses,Time_of_the_Year,Circumambience_id,Circumambience,People
1,1.0,81,1,3 days,3,20,Copenhagen,"Historical-Medieval, Beach, Adventure-Water, P...",Europe,3,1356,2,1960,3316,Summer,1,Solo,1
2,2.0,216,1,3 days,3,54,San Francisco,Beach,North America,1,816,2,2880,3696,Summer,2,Family,4
3,3.0,221,2,1 week,7,61,Trentino,Terrain,Europe,3,NaN,1,1820,1820,Summer,3,Romantic,2
4,4.0,172,2,1 week,7,29,Lisbon,Historical,Europe,1,1680,1,7320,9000,Summer,4,Friends,6
5,5.0,77,1,3 days,3,42,New Orleans,Historical-Modern,North America,1,510,2,640,1150,Spring,3,Romantic,2
6,6.0,183,3,2 weeks,14,66,Vienna,Terrain,Europe,1,3948,1,8100,12048,Summer,4,Friends,6
7,7.0,280,2,1 week,7,40,Naples,"Historical-Ancient, Architecture, Nightlife",Europe,3,1239,1,1100,2339,Summer,1,Solo,1
8,8.0,220,4,1 month,30,46,Paris,"Historical-Medieval, Nightlife, Architecture, ...",Europe,2,32760,2,14160,46920,Summer,4,Friends,6
9,9.0,112,4,1 month,30,10,Bologna,"Historical-Medieval, Nightlife",Europe,1,2220,1,1120,3340,Summer,1,Solo,1
10,10.0,215,2,1 week,7,60,Toronto,Modern,North America,3,14504,2,3600,18104,Summer,2,Family,4
11,11.0,261,1,3 days,3,24,Florence,"Historical, Beach",Europe,1,660,2,15600,16260,Summer,2,Family,4
12,12.0,50,3,2 weeks,14,43,New York City,"Modern, Park, Adventure-Land, Architecture, Ni...",North America,2,13328,2,2000,15328,Summer,2,Family,4
13,13.0,294,1,3 days,3,53,San Diego,Beach,North America,3,6858,1,1320,8178,Summer,4,Friends,6
14,14.0,236,1,3 days,3,59,Tasmania,Beach,Australia,1,900,2,18240,19140,Spring,4,Friends,6
15,15.0,192,3,2 weeks,14,60,Toronto,Modern,North America,2,8736,1,1800,10536,Summer,2,Family,4
16,16.0,38,3,2 weeks,14,47,Portland,"Modern, Park, Nightlife",North America,3,18424,1,1240,19664,Spring,2,Family,4
17,17.0,147,1,3 days,3,6,Barcelona,"Historical-Modern, Beach, Architecture, Nightlife",Europe,1,588,1,4900,5488,Summer,2,Family,4
18,18.0,132,3,2 weeks,14,13,Broward County,"Beach, Modern, Park, Aquatic",North America,2,8792,1,520,9312,Summer,2,Family,4
19,19.0,102,2,1 week,7,21,Denver,"Modern, Hills, Park, Architecture",North America,3,10976,2,1200,12176,Summer,2,Family,4
20,20.0,272,3,2 weeks,14,11,Bordeaux,"Historical-Modern, Wineyard, Park",Europe,3,5628,1,3000,8628,Summer,3,Romantic,2
21,21.0,271,2,1 week,7,39,Montreal,Modern,North America,3,15624,1,2400,18024,Summer,4,Friends,6
22,22.0,111,2,1 week,7,51,Rome,Historical,Europe,2,5796,2,11436,17232,Summer,4,Friends,6
23,23.0,45,3,2 weeks,14,47,Portland,"Modern, Park, Nightlife",North America,3,18424,1,1240,19664,Spring,2,Family,4
24,24.0,151,1,3 days,3,61,Trentino,Terrain,Europe,2,186,2,3640,3826,Summer,3,Romantic,2
25,25.0,184,4,1 month,30,64,Venice,Terrain,Europe,2,6960,1,2320,9280,Summer,3,Romantic,2
26,26.0,214,4,1 month,30,19,Columbus,"Modern, Beach, Nightlife, Park",North America,3,4500,1,240,4740,Summer,1,Solo,1
27,27.0,60,2,1 week,7,3,Asheville,"Historical-Modern, Adventure-Water, Hills, Adv...",North America,1,644,1,500,1144,Summer,3,Romantic,2
28,28.0,47,2,1 week,7,51,Rome,Historical,Europe,2,966,2,1906,2872,Summer,1,Solo,1
29,29.0,287,1,3 days,3,14,Brussels,"Historical-Medieval, Beach, Park, Nightlife",Europe,3,1650,1,2160,3810,Summer,3,Romantic,2
30,30.0,134,2,1 week,7,29,Lisbon,Historical,Europe,3,1603,1,1220,2823,Summer,1,Solo,1
31,31.0,266,2,1 week,7,32,Lyon,"Historical, Beach, Terrain",Europe,1,658,1,2400,3058,Summer,3,Romantic,2
32,32.0,2,3,2 weeks,14,16,Cape Town,"Beach, Historical-Medieval, Aquatic-Water",Africa,2,1386,2,1680,3066,Winter,1,Solo,1
33,33.0,243,1,3 days,3,47,Portland,"Modern, Park, Nightlife",North America,1,165,2,620,785,Spring,1,Solo,1
34,34.0,139,1,3 days,3,37,Melbourne,"Modern, Beach, Adventure-Modern",Australia,1,135,1,1360,1495,Spring,1,Solo,1
35,35.0,146,4,1 month,30,43,New York City,"Modern, Park, Adventure-Land, Architecture, Ni...",North America,2,28560,2,2000,30560,Summer,2,Family,4
36,36.0,85,1,3 days,3,6,Barcelona,"Historical-Modern, Beach, Architecture, Nightlife",Europe,3,1113,1,1225,2338,Summer,1,Solo,1
37,37.0,257,2,1 week,7,55,Santa Clara County,Modern,North America,2,3280.62,1,720,4000.62,Spring,3,Romantic,2
38,38.0,234,1,3 days,3,30,London,"Modern, Beach",Europe,1,414,1,2300,2714,Summer,3,Romantic,2
39,39.0,5,1,3 days,3,16,Cape Town,"Beach, Historical-Medieval, Aquatic-Water",Africa,1,324,1,1680,2004,Winter,3,Romantic,2
40,40.0,42,3,2 weeks,14,33,Madrid,"Historical, Beach, Terrain",Europe,3,17024,2,8560,25584,Summer,2,Family,4
41,41.0,237,1,3 days,3,33,Madrid,"Historical, Beach, Terrain",Europe,3,1824,2,4280,6104,Summer,3,Romantic,2
42,42.0,137,1,3 days,3,27,Hawaii,"Beach, Terrain, Modern",North America,1,300,2,1600,1900,Summer,1,Solo,1
43,43.0,151,4,1 month,30,7,Barossa Valley,"Adventure-Water, Historical-Modern, Wineyard",Australia,2,12960,1,8820,21780,Spring,4,Friends,6
44,44.0,252,2,1 week,7,33,Madrid,"Historical, Beach, Terrain",Europe,2,3136,2,8560,11696,Summer,2,Family,4
45,45.0,241,1,3 days,3,16,Cape Town,"Beach, Historical-Medieval, Aquatic-Water",Africa,2,594,2,3360,3954,Winter,3,Romantic,2
46,46.0,194,3,2 weeks,14,43,New York City,"Modern, Park, Adventure-Land, Architecture, Ni...",North America,1,4872,2,2000,6872,Summer,2,Family,4
47,47.0,152,1,3 days,3,46,Paris,"Historical-Medieval, Nightlife, Architecture, ...",Europe,3,1593,1,1180,2773,Summer,1,Solo,1
48,48.0,114,4,1 month,30,58,Sydney,Beach,Australia,3,24420,1,2680,27100,Spring,3,Romantic,2
49,49.0,41,1,3 days,3,50,Rio de Janeiro,Historical,South America,2,1818,1,6360,8178,Winter,4,Friends,6
50,50.0,121,3,2 weeks,14,7,Barossa Valley,"Adventure-Water, Historical-Modern, Wineyard",Australia,2,1008,2,2940,3948,Spring,1,Solo,1

In [9]:
print(df.shape)
df = df[df.Location.str.contains('^[A-L]',regex=True)]
print(df.shape)
#print(df.shape,len(df.User.unique()),len(df.Location.unique()))
df.head(5)

(5000, 18)
(2386, 18)

,Id,User,Stay,Stay Length,Numeric_Stay_Length,Location_id,Location,Feature_of_Attraction,Region,Category_Trip_Expenses,Trip_Expenses,Class,Ticket_Prices,Total_Expenses,Time_of_the_Year,Circumambience_id,Circumambience,People
1,1.0,81,1,3 days,3,20,Copenhagen,"Historical-Medieval, Beach, Adventure-Water, P...",Europe,3,1356,2,1960,3316,Summer,1,Solo,1
4,4.0,172,2,1 week,7,29,Lisbon,Historical,Europe,1,1680,1,7320,9000,Summer,4,Friends,6
9,9.0,112,4,1 month,30,10,Bologna,"Historical-Medieval, Nightlife",Europe,1,2220,1,1120,3340,Summer,1,Solo,1
11,11.0,261,1,3 days,3,24,Florence,"Historical, Beach",Europe,1,660,2,15600,16260,Summer,2,Family,4
17,17.0,147,1,3 days,3,6,Barcelona,"Historical-Modern, Beach, Architecture, Nightlife",Europe,1,588,1,4900,5488,Summer,2,Family,4

In [107]:
#df['Feature_of_Attraction'] = df['Feature_of_Attraction'].astype('category')
df['Time_of_the_Year'] = df['Time_of_the_Year'].astype('category')
#df['FOA_codes'] = df['Feature_of_Attraction'].cat.codes
df['TOY_codes'] = df['Time_of_the_Year'].cat.codes
df.sort_index(inplace=True)
#print(df.Time_of_the_Year.unique(),df.Feature_of_Attraction.unique(),df.TOY_codes.unique(),"\n",df.FOA_codes.unique())
df.Feature_of_Attraction = df.Feature_of_Attraction.str.replace(' ','')
df.Feature_of_Attraction = df.Feature_of_Attraction.str.split(',')
print(df.Feature_of_Attraction[15])
users = df.User.unique()
locations = df.Location_id.unique()

['Modern', 'Beach', 'Terrain']

In [109]:
dummy_df = pd.DataFrame(columns=["users","cities","vacations"])
column_list = ["users","location"]+feature_list+["expense_category","class","toy_codes"]
dummy_tag_df = pd.DataFrame(columns=column_list)


user_city_dict = {}
count = 0

for index,row in df.iterrows():      ## replace 100 with length of our "MetaData" df
#     user = row["User"]     ## replace with df.iloc[i].userId
#     city = row["Location_id"]      ## replace with df.iloc[i].cityId
    #vacation = [row["FOA_codes"], row.Category_Trip_Expenses, row.Ticket_Prices, row.TOY_codes]   ## replace with vacation object - array of 4 numbers [ df.iloc[i].featureofattraction , .... ]
    #dummy_df.loc[count] = [user,city,vacation]
    foa = row.Feature_of_Attraction
    temp_list = [ 0 for _ in feature_list]
    for i in range(len(feature_list)):
        if feature_list[i] in foa:
            temp_list[i] = 1
    #print(row.User,temp_list,foa)
    dummy_tag_df.loc[count] = [row.User,row.Location_id]+temp_list+[row.Category_Trip_Expenses,row.Class, row.TOY_codes]
    count += 1
    if not row.User in user_city_dict.keys() :
        user_city_dict[row.User] = [row.Location]
    else:
        user_city_dict[row.User].append(row.Location)

# pivoted_table = pd.pivot_table(dummy_df,index="users",columns="cities",values="vacations",aggfunc=lambda x: x)
# pivoted_table.sort_index(axis=0,inplace=True)
# pivoted_table = pivoted_table.reindex(sorted(pivoted_table.columns),axis=1)

# for index,row in pivoted_table.iterrows():
#     for ind, val in row.iteritems():
#         if isinstance(val,list):
#             if isinstance(val[0],list):
#                 row[ind] = np.asarray(val[0])
#             else:
#                 row[ind] = np.asarray(val)
#         else:
#             row[ind] = np.asarray([0,0,0,0])   
#     row = np.asarray(row)
for col in dummy_tag_df.columns[:]:
    if col in feature_list:
        dummy_tag_df[col] = dummy_tag_df[col].astype('uint8')
#dummy_tag_df = pd.get_dummies(dummy_tag_df,columns=["foa_codes"],prefix='FOA')
dummy_tag_df = pd.get_dummies(dummy_tag_df,columns=["expense_category"],prefix='Expcat')
dummy_tag_df = pd.get_dummies(dummy_tag_df,columns=["class"],prefix='Class')
dummy_tag_df = pd.get_dummies(dummy_tag_df,columns=["toy_codes"],prefix='TOY')

dummy_tag_df.head(5)
#new_pivot = pd.new_pivot(user_tag_matrix,index="users",columns=["attraction","expense_type","travel_class","season"],values="vacations",aggfunc=lambda x: x)

,users,location,Historical,Modern,Beach,Terrain,Expcat_1,Expcat_2,Expcat_3,Class_1,Class_2,TOY_0,TOY_1,TOY_2
0,262,31,1,0,0,0,0,1,0,1,0,0,1,0
1,279,6,1,0,1,1,0,0,1,0,1,0,1,0
2,16,37,1,0,0,1,1,0,0,0,1,0,1,0
3,287,67,0,1,1,1,0,0,1,1,0,1,0,0
4,143,67,0,1,1,1,1,0,0,1,0,1,0,0

In [102]:
df.Feature_of_Attraction[15]

['Modern', 'Beach', 'Terrain']

In [110]:
# temp_users = dummy_tag_df.users.unique()
# set1 = set(users)
# set2 = set(temp_users)
# if set1 == set2:
#     print("all good")
# else:

#     print("in users but not in tempusers",set1.difference(set2))
print(list(dummy_tag_df),dummy_tag_df.dtypes)

['users', 'location', 'Historical', 'Modern', 'Beach', 'Terrain', 'Expcat_1', 'Expcat_2', 'Expcat_3', 'Class_1', 'Class_2', 'TOY_0', 'TOY_1', 'TOY_2'] users         object
location      object
Historical     uint8
Modern         uint8
Beach          uint8
Terrain        uint8
Expcat_1       uint8
Expcat_2       uint8
Expcat_3       uint8
Class_1        uint8
Class_2        uint8
TOY_0          uint8
TOY_1          uint8
TOY_2          uint8
dtype: object

In [111]:
#pivoted_table[31][11]
available_tags = list(dummy_tag_df)

dummy_tag_df = dummy_tag_df.groupby(["users"]).sum()

print(dummy_tag_df.head(10))

print(type(dummy_tag_df.iloc[1]))

       Historical  Modern  Beach  Terrain  Expcat_1  Expcat_2  Expcat_3  \
users
1               7       5      9        5         3         6         4
2               5       0      5        4         3         1         1
3               1       7      7        4         3         5         0
4               4       5      8        6         4         2         3
5              11       5     13       13         8         6         2
6               6       2      6        6         2         3         3
7               2       2      4        3         1         1         2
8               3       0      3        2         1         1         2
9               3       3      3        3         2         2         2
10              6       5      8        3         3         3         5

       Class_1  Class_2  TOY_0  TOY_1  TOY_2
users
1            9        4      0     13      0
2            2        3      0      4      1
3            3        5      2      5      1
4            2        7      0      9      0
5            9        7      2     14      0
6            4        4      0      8      0
7            2        2      1      3      0
8            3        1      0      4      0
9            3        3      1      4      1
10           8        3      2      8      1
<class 'pandas.core.series.Series'>

In [113]:
#pivoted_table.replace({0 : []},inplace=True)
#rating_matrix[299][6][1]
# users = df.User.unique()
print(dummy_tag_df.loc[300])

Historical    5
Modern        1
Beach         7
Terrain       4
Expcat_1      5
Expcat_2      1
Expcat_3      2
Class_1       5
Class_2       3
TOY_0         0
TOY_1         8
TOY_2         0
Name: 300, dtype: uint8

In [115]:
# User-Tag matrix . Perform similarity measure between users - Pearson/Cosine similarity
import heapq

def cosine_similarity(user1,user2):
    #print(user1,user2)
    vec1 = dummy_tag_df.loc[user1].values
    vec2 = dummy_tag_df.loc[user2].values
    cos_dist = np.dot(vec1,vec2) / (np.linalg.norm(vec1)*np.linalg.norm(vec2))
    #print(cos_dist)
    return cos_dist



## Compute and store for all users to avoid recomputing
# cosine_similarity_store = {}
# pearson_similarity_store = {}  ## will do in the relavant section
# for i in users:
#     for j in users:
#         if i != j:
#             #print(i,j)
#             cosine_similarity_store[(i,j)] = cosine_similarity(i,j)
            
#             cosine_similarity_store[(j,i)] = cosine_similarity_store[(i,j)]

#get top k similar users


def get_similar_user(target_user):
    max_k_scores =  [(0,0) for i in range(5)]      
    heapq.heapify(max_k_scores)
    for comparing in users:
        if comparing != target_user :
            heapq.heappushpop(max_k_scores,(cosine_similarity(comparing,target_user),comparing)) 
            heapq.heapify(max_k_scores)
    return max_k_scores

target_user_id = 143   #### change this value to get recos for differenct users
trempa = get_similar_user(target_user_id)
print(trempa)
print("\n Target user history \n", sorted(user_city_dict[target_user_id]))
print("\n\n Recommended user \n\n",sorted(user_city_dict[trempa[4][1]]))
print("\n",sorted(user_city_dict[trempa[3][1]]))
print("\n",sorted(user_city_dict[trempa[2][1]]))
#print("\n",sorted(user_city_dict[trempa[1][1]]))

#print("\n",sorted(user_city_dict[trempa[0][1]]))

[(0.9732735590329926, 76), (0.9754878659299545, 53), (0.9786573814518902, 273), (0.9774774774774776, 152), (0.9811733488261926, 17)]

 Target user history
 ['Antwerp', 'Beijing', 'Boston', 'Clark County', 'Denver', 'Florence', 'Hong Kong']


 Recommended user
 ['Antwerp', 'Antwerp', 'Barossa Valley', 'Beijing', 'Columbus', 'Denver', 'Denver', 'Dublin']

 ['Austin', 'Beijing', 'Berlin', 'Cape Town', 'Chicago', 'Clark County', 'Columbus', 'Columbus', 'Dublin', 'Greater Manchester', 'Lyon']

 ['Barossa Valley', 'Barossa Valley', 'Beijing', 'Bologna', 'Cambridge', 'Chicago', 'Hawaii', 'Lisbon', 'Lyon']

 ['Asheville', 'Beijing', 'Columbus']

 ['Antwerp', 'Austin', 'Barcelona', 'Berlin', 'Clark County', 'Denver', 'Florence', 'Greater Manchester', 'London']

In [218]:
suggestion_pool = {}
for entry in trempa:
    print(entry[1])
    suggestion_pool[entry[1]] = [x for x in user_city_dict[entry[1]] if x not in user_city_dict[target_user_id]]

# u = set.intersection(*suggestion_pool)
# if len(u) is 0:
#     temp_u = set.intersection(suggestion_pool[trempa[0][1]],suggestion_pool[trempa[1][1]],suggestion_pool[trempa[2][1]])
    
    
suggested_cities = [val[0] for key,val in suggestion_pool.items()]
print(suggested_cities)

169
40
37
180
178
[40, 15, 50, 21, 67]

In [128]:
# rating_matrix = pivoted_table.values
# print(rating_matrix.shape)

# mean_rating = []
# for item in range(rating_matrix.shape[1]):
#     item_vector = rating_matrix[:,item].reshape(-1,1).tolist()
#     item_vector = np.concatenate(item_vector)
#     #print(item_vector.shape,item_vector[0],item_vector[19])
#     #print(np.mean(item_vector,axis=0))
#     mean_rating.append(np.mean(item_vector,axis=0).tolist())

(300, 68)

In [ ]:


# def pearson_similarity(item1, item2):
#     common_users = get_common_users(item1, item2)
#     rate_sum = sq_rate_1 = sq_rate_2 = 0
#     for i in taglist:
#         rate_sum += (pivoted_table[i][item1][criteria] - mean_rating[item1][criteria])*(pivoted_table[i][item2][criteria] - mean_rating[item2][criteria])
#         sq_rate_1 += math.pow((pivoted_train[item1][i][criteria] - mean_rating[item1][criteria]),2)
#         sq_rate_2 += math.pow((pivoted_train[item2][i][criteria] - mean_rating[item2][criteria]),2)
#     if (sq_rate_1 != 0 and sq_rate_2 != 0):
#         return rate_sum/(math.sqrt(sq_rate_1*sq_rate_2))
#     else:
#         return 0

# pearson_similarity_store = {}
# for i in range(rating_matrix.shape[1]):
#     for j in range(i):
#         pearson_similarity_store[(i,j)] = [ pearson_similarity(i,j,0), pearson_similarity(i,j,1), pearson_similarity(i,j,2), pearson_similarity(i,j,3) ]
#         pearson_similarity_store[(j,i)] = pearson_similarity_store[(i,j)]

# def rating_score(target_user, target_city,criteria):
#         loc_rating = [pearson_similarity_store[(target_user,i)]*(pivoted_train[i][target_movie] - mean_rating[i]) for i in users if i in item_user_mat[target_city]]
#     return mean_user_rating[target_user] + 0.05*sum(loc_rating)